.productsDisplay{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    overflow-y: scroll;
}

.productCard{
    padding: 10px;
    background-color: #EDF2F8;
    box-shadow: 2px 1px 7px black;
    border-radius: 20px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.productCard:hover{
    box-shadow: 2px 1px 7px #4890D1;
}

@media screen and (max-width: 1300px) {
    .productsDisplay{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .productsDisplay{
        grid-template-columns: 1fr;
    }
}